In [7]:
import pandas as pd
import os
FILE = os.path.join(os.getcwd(), 'in.xls')
df = pd.read_excel(FILE, header=1)

In [9]:
df

,料品,品名,批号,规格,料品属性,存储地点,仓库,库位,可用数量,可用重量,冻结数量,冻结重量,总数量,总重量
0,100101-05,太粮王泰国茉莉香米5,191119002,5.0,成品,厚街河田仓,成品仓,4A104,0,0.00,0,0,0,0.00
1,100101-05,太粮王泰国茉莉香米5,191119005,5.0,成品,厚街河田仓,成品仓,03A2,0,0.00,0,0,0,0.00
2,100101-05,太粮王泰国茉莉香米5,191119005,5.0,成品,厚街河田仓,成品仓,4A000,0,0.00,0,0,0,0.00
3,100101-05,太粮王泰国茉莉香米5,191119006,5.0,成品,厚街河田仓,成品仓,03A0,0,0.00,0,0,0,0.00
4,100101-05,太粮王泰国茉莉香米5,191119006-01,5.0,成品,厚街河田仓,成品仓,03A0,0,0.00,0,0,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11073,904002-01,招商路凯卡板,200101001,1.0,其它,厚街河田仓,成品仓,P01,0,0.00,0,0,0,0.00
11074,904002-01,招商路凯卡板,200101001,1.0,其它,厚街河田仓,成品仓,P02,0,0.00,0,0,0,0.00
11075,904002-01,招商路凯卡板,200101001,1.0,其它,厚街河田仓,成品仓,P06,0,0.00,0,0,0,0.00
11076,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,122800,1740871.31,4397,50194,127197,1791065.31
11077,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,122800,1740871.31,4397,50194,127197,1791065.31

In [11]:
selections = ['库位', '料品', '品名', '批号', '可用数量', '冻结数量', '总数量']
cdf = df[
    (df['存储地点'] == '厚街河田仓') 
    & (df['仓库'] == '成品仓') 
    & (df['料品属性'] == '成品')
    & (df['总数量'] > 0)
][selections].sort_values(by=['库位', '料品'])

In [13]:
cdf

         库位         料品              品名         批号  可用数量  冻结数量   总数量
47     3A00  100101-35    太粮王泰国茉莉香米5*4  200101001     4     0     4
226    3A00  100502-35  （橙色）柬埔寨茉莉香米5*5  200617002   405     0   405
618    3A00  100604-35   曼哈浓香德莉进口香米5*5  200804009     3     0     3
1060   3A00  100607-35  曼哈浓香精选小茉莉香米5*5  200805008   167     0   167
2508   3A00  101301-31    太粮靓虾王香软米1*25  200813007    83     0    83
...     ...        ...             ...        ...   ...   ...   ...
9621  糙米线库位  107006-10   太粮良谷纪臻选东北大米10  200817013  1250     0  1250
9718  糙米线库位  107090-25     香雪珍珠米（特通）25  200804019   598     0   598
9719  糙米线库位  107090-25     香雪珍珠米（特通）25  200804033    40     0    40
9720  糙米线库位  107090-25     香雪珍珠米（特通）25  200806014    67     0    67
9722  糙米线库位  107090-25     香雪珍珠米（特通）25  200817013   118     0   118

[411 rows x 7 columns]

In [15]:
cdf.to_csv(os.path.join(os.getcwd(), 'to_check_list.csv'), index=False, encoding='utf-8-sig')