In [8]:
import os
import pandas as pd

In [9]:
FILE = os.path.join(os.getcwd(), 'checked_list.csv')
df = pd.read_csv(FILE, encoding='utf-8-sig')
df['check'] = df[['check']].astype('Int64')

In [10]:
df['d'] = [0 if d is pd.NA else d for d in df['check'] - df['总数量']] 
df.dtypes

库位       object
料品       object
品名       object
批号       object
可用数量      int64
冻结数量      int64
总数量       int64
check    object
d         int64
dtype: object

In [11]:
for sku, df_sku in df[df['d'] != 0].groupby('料品'):
    display(df_sku)

       库位         料品           品名         批号  可用数量  冻结数量  总数量 check   d
285  4AH5  100101-25  太粮王泰国茉莉香米25  200817005    60     0   60    48 -12
411  4AP6  100101-25  太粮王泰国茉莉香米25  200817005     0     0    0    12  12

       库位         料品            品名         批号  可用数量  冻结数量  总数量 check  d
0    3A00  100101-35  太粮王泰国茉莉香米5*4  200101001     4     0    4     6  2
102  4A00  100101-35  太粮王泰国茉莉香米5*4  191119004     5     0    5     1 -4
103  4A00  100101-35  太粮王泰国茉莉香米5*4  191119006    29     0   29    31  2

      库位         料品             品名         批号  可用数量  冻结数量  总数量 check   d
17  3A01  100101-40  太粮王泰国茉莉香米10*3  191119003    11     0   11     1 -10
18  3A01  100101-40  太粮王泰国茉莉香米10*3  200101001    20     0   20    30  10

      库位         料品          品名         批号  可用数量  冻结数量  总数量 check    d
32  3A02  100501-35  柬埔寨茉莉香米5*5  200814006   170     0  170   360  190
38  3A04  100501-35  柬埔寨茉莉香米5*5  200814006   648     0  648   616  -32
60  3A08  100501-35  柬埔寨茉莉香米5*5  200814006   648     0  648   490 -158

      库位         料品              品名         批号  可用数量  冻结数量  总数量 check   d
90  3AP1  100502-35  （橙色）柬埔寨茉莉香米5*5  200617002    39     0   39     0 -39
91  3AP1  100502-35  （橙色）柬埔寨茉莉香米5*5  200620003    30     0   30    69  39

       库位         料品            品名         批号  可用数量  冻结数量  总数量 check    d
183  4A07  100604-10  曼哈浓香德莉进口香米10  200725009     5     0    5     3   -2
184  4A07  100604-10  曼哈浓香德莉进口香米10  200804001    28     0   28    23   -5
185  4A07  100604-10  曼哈浓香德莉进口香米10  200811001   278     0  278   378  100
186  4A07  100604-10  曼哈浓香德莉进口香米10  200813013   173     0  173    27 -146

       库位         料品            品名         批号  可用数量  冻结数量  总数量 check   d
149  4A04  100604-25  曼哈浓香德莉进口香米25  200811001   259     0  259   222 -37

       库位         料品            品名            批号  可用数量  冻结数量  总数量 check  d
210  4AH0  100607-05  曼哈浓香精选小茉莉香米5     200621010     2     0    2     0 -2
211  4AH0  100607-05  曼哈浓香精选小茉莉香米5  200621010-01     2     0    2     4  2

       库位         料品             品名         批号  可用数量  冻结数量   总数量 check    d
256  4AH2  100607-10  曼哈浓香精选小茉莉香米10  200814004    80     0    80    38  -42
337  4B02  100607-10  曼哈浓香精选小茉莉香米10  200814004   150     0   150     0 -150
338  4B02  100607-10  曼哈浓香精选小茉莉香米10  200816004  1631     0  1631  1632    1
412  4BH0  100607-10  曼哈浓香精选小茉莉香米10  200816004     0     0     0   191  191

      库位         料品              品名         批号  可用数量  冻结数量  总数量 check   d
34  3A02  100607-35  曼哈浓香精选小茉莉香米5*5  200817001   201     0  201   110 -91
52  3A07  100607-35  曼哈浓香精选小茉莉香米5*5  200817001   194     0  194   285  91

       库位         料品          品名         批号  可用数量  冻结数量  总数量 check   d
20   3A01  101101-32  金太粮油粘王2*10  200612007    52     0   52   104  52
50   3A06  101101-32  金太粮油粘王2*10  200612007   209     0  209   126 -83
297  4AP1  101101-32  金太粮油粘王2*10  200612007    31     0   31    62  31

       库位         料品          品名         批号  可用数量  冻结数量  总数量 check   d
382  4BH0  101202-10  马坝龙三星油粘米10  200818007   110     0  110    90 -20
413  4A07  101202-10  马坝龙三星油粘米10  200818007     0     0    0    20  20

       库位         料品          品名         批号  可用数量  冻结数量   总数量 check     d
309  4AP6  101301-10  太粮靓虾王香软米10  200816003  2417    44  2461  4937  2476
339  4B02  101301-10  太粮靓虾王香软米10  200816003  2766     0  2766   290 -2476

       库位         料品          品名         批号  可用数量  冻结数量  总数量 check    d
150  4A04  101301-25  太粮靓虾王香软米25  200816003   339     0  339   450  111
151  4A04  101301-25  太粮靓虾王香软米25  200818006   405     0  405   294 -111

       库位         料品            品名         批号  可用数量  冻结数量  总数量 check   d
72   3A09  101301-32  太粮靓虾王香软米2*10  200813007    47     0   47    49   2
298  4AP1  101301-32  太粮靓虾王香软米2*10  200608040    12     0   12    20   8
301  4AP2  101301-32  太粮靓虾王香软米2*10  200608040    30     0   30    20 -10

       库位         料品          品名         批号  可用数量  冻结数量  总数量 check    d
55   3A07  101302-10  经典靓虾王香软米10  200817019   730     0  730   603 -127
414  4AP4  101302-10  经典靓虾王香软米10  200817019     0     0    0   127  127

       库位         料品        品名         批号  可用数量  冻结数量   总数量 check     d
114  4A00  101303-10  （靓虾）软米10  200816006  1981   320  2301  1554  -747
310  4AP6  101303-10  （靓虾）软米10  200818004  2034     0  2034  2601   567
343  4B02  101303-10  （靓虾）软米10  200814003     0  1498  1498   865  -633
344  4B02  101303-10  （靓虾）软米10  200815003     0   753   753  2139  1386
345  4B02  101303-10  （靓虾）软米10  200816006  2182     0  2182  1945  -237
346  4B02  101303-10  （靓虾）软米10  200818004  1782     0  1782  1029  -753
363  4B03  101303-10  （靓虾）软米10  200815003  4085    29  4114  3923  -191
415  3A02  101303-10  （靓虾）软米10  200816006     0     0     0   345   345

       库位         料品          品名         批号  可用数量  冻结数量   总数量 check   d
347  4B02  101306-10  （红香）靓虾王米10  200813006  1607     0  1607  1557 -50

       库位         料品          品名         批号  可用数量  冻结数量   总数量 check    d
165  4A05  101306-15  （红香）靓虾王米15  200818003  1456     0  1456  1290 -166
314  4B01  101306-15  （红香）靓虾王米15  200815006   166     0   166   332  166

       库位         料品           品名         批号  可用数量  冻结数量  总数量 check  d
253  4AH1  101306-53  （红香）靓虾王米1.5  200526014   393     0  393   384 -9
416  4AP2  101306-53  （红香）靓虾王米1.5  200526014     0     0    0     9  9

       库位         料品           品名         批号  可用数量  冻结数量  总数量 check  d
225  4AH0  101308-01  （信鲜）靓虾王香软米1  200723007     2    10   12    11 -1

       库位         料品            品名         批号  可用数量  冻结数量  总数量 check  d
193  4A08  101308-15  （信鲜）靓虾王香软米15  200716003     6     0    6     8  2
194  4A08  101308-15  （信鲜）靓虾王香软米15  200725002     5     0    5     6  1
196  4A08  101308-15  （信鲜）靓虾王香软米15  200815001   248     0  248   245 -3

       库位         料品            品名         批号  可用数量  冻结数量  总数量 check    d
152  4A04  101308-25  （信鲜）靓虾王香软米25  200811005    17    40   57   228  171
153  4A04  101308-25  （信鲜）靓虾王香软米25  200812002    35     0   35    69   34
154  4A04  101308-25  （信鲜）靓虾王香软米25  200815001    34     0   34     0  -34
349  4B02  101308-25  （信鲜）靓虾王香软米25  200816007   222     0  222   108 -114
350  4B02  101308-25  （信鲜）靓虾王香软米25  200818007   421     0  421   364  -57

       库位         料品              品名         批号  可用数量  冻结数量  总数量 check  d
144  4A03  101314-10  （抖音）信鲜靓虾王香软米10  200818003   883     0  883   880 -3
367  4B03  101314-10  （抖音）信鲜靓虾王香软米10  200813006     1     0    1     4  3

       库位         料品         品名         批号  可用数量  冻结数量   总数量 check    d
317  4B01  101402-10  米皇坊小农粘米10  200818004  1494     0  1494  1049 -445
417  3AP1  101402-10  米皇坊小农粘米10  200818004     0     0     0   445  445

       库位         料品              品名         批号  可用数量  冻结数量  总数量 check    d
156  4A04  101402-25  （橙）散装米皇坊小农粘米25  200807001   143     0  143     9 -134
157  4A04  101402-25  （橙）散装米皇坊小农粘米25  200818001   314     0  314   238  -76
304  4AP4  101402-25  （橙）散装米皇坊小农粘米25  200813001   160     0  160   320  160
318  4B01  101402-25  （橙）散装米皇坊小农粘米25  200813001    50     0   50   100   50

       库位         料品           品名         批号  可用数量  冻结数量  总数量 check   d
23   3A01  101406-35  米皇坊山水丝苗米5*5  200814005    90     0   90    66 -24
82   3A09  101406-35  米皇坊山水丝苗米5*5  200729009     2     0    2     4   2
120  4A00  101406-35  米皇坊山水丝苗米5*5  200729009    30     0   30    42  12

        库位         料品         品名         批号  可用数量  冻结数量  总数量 check   d
402  糙米线库位  101420-15  米皇坊珍珠香米15  200817015    70     0   70    50 -20
418   4B03  101420-15  米皇坊珍珠香米15  200817015     0     0    0    20  20

       库位         料品         品名         批号  可用数量  冻结数量  总数量 check  d
130  4A01  101420-25  米皇坊珍珠香米25  200806013     1     0    1     0 -1
278  4AH4  101420-25  米皇坊珍珠香米25  200811023    40     0   40    41  1

        库位         料品          品名         批号  可用数量  冻结数量  总数量 check  d
56    3A07  101420-35  米皇坊珍珠香米5*5  200814019    39     0   39    41  2
121   4A00  101420-35  米皇坊珍珠香米5*5  200814019    67     0   67    61 -6
403  糙米线库位  101420-35  米皇坊珍珠香米5*5  200817015   290     0  290   288 -2

       库位         料品          品名         批号   可用数量  冻结数量    总数量  check   d
179  4A06  101601-10  （米酷）马坝银粘10  200818012   2034     0   2034   2012 -22
311  4AP6  101601-10  （米酷）马坝银粘10  200817006      0    80     80     34 -46
320  4B01  101601-10  （米酷）马坝银粘10  200813004     22     0     22     21  -1
354  4B02  101601-10  （米酷）马坝银粘10  200815019   1236     0   1236   1259  23
355  4B02  101601-10  （米酷）马坝银粘10  200817006  10364     0  10364  10410  46

       库位         料品          品名         批号  可用数量  冻结数量  总数量 check   d
140  4A02  101601-15  （米酷）马坝银粘15  200812004   105     0  105    84 -21
419  4A06  101601-15  （米酷）马坝银粘15  200812004     0     0    0    21  21

       库位         料品          品名         批号  可用数量  冻结数量  总数量 check   d
170  4A05  103909-15  今西利哈旺油粘米15  200804005    30     0   30    27  -3
171  4A05  103909-15  今西利哈旺油粘米15  200811004    23     0   23     0 -23
326  4B01  103909-15  今西利哈旺油粘米15  200814001   246     0  246   269  23

       库位         料品          品名         批号  可用数量  冻结数量  总数量 check    d
200  4A08  103912-15  今西利富客酒店米15  200818003   300     0  300   337   37
274  4AH3  103912-15  今西利富客酒店米15  200728005    69     0   69   138   69
328  4B01  103912-15  今西利富客酒店米15  200806004   255     0  255   149 -106

       库位         料品          品名         批号  可用数量  冻结数量  总数量 check   d
131  4A01  104003-25  香满宾庭励福香米25  200725004   131     0  131   102 -29
420  4AH0  104003-25  香满宾庭励福香米25  200725004     0     0    0    29  29

       库位         料品          品名         批号  可用数量  冻结数量  总数量 check   d
161  4A04  104101-25  金稻鱼太粮家乐米25  200724028    90     0   90     4 -86
202  4A08  104101-25  金稻鱼太粮家乐米25  200813003   170     0  170   256  86
292  4AH5  104101-25  金稻鱼太粮家乐米25  200808003    48     0   48    40  -8

       库位         料品              品名         批号  可用数量  冻结数量  总数量 check  d
10   3A00  104101-85  金稻鱼太粮家乐米2.5*10  200801008    16     0   16     7 -9
98   3AP1  104101-85  金稻鱼太粮家乐米2.5*10  200731036     1     0    1     2  1
307  4AP4  104101-85  金稻鱼太粮家乐米2.5*10  200801008    36     0   36    44  8

       库位         料品       品名         批号  可用数量  冻结数量   总数量 check    d
330  4B01  105801-10  为食猫牙米10  200816005  1253     0  1253  1653  400
357  4B02  105801-10  为食猫牙米10  200812008   480     0   480    80 -400
392  4BH0  105801-10  为食猫牙米10  200816005    52     0    52    41  -11
421  4A00  105801-10  为食猫牙米10  200816005     0     0     0    11   11

       库位         料品       品名         批号  可用数量  冻结数量  总数量 check  d
293  4AH5  105801-25  为食猫牙米25  200818011    80     0   80    79 -1
371  4B03  105801-25  为食猫牙米25  200816005     1     0    1     2  1

       库位         料品        品名         批号  可用数量  冻结数量   总数量 check    d
162  4A04  105803-10  太粮巴吞香米10  200725032  2276   480  2756  2814   58
182  4A06  105803-10  太粮巴吞香米10  200725030  1235     0  1235  1133 -102
190  4A07  105803-10  太粮巴吞香米10  200812004    99     0    99    74  -25
394  4BH0  105803-10  太粮巴吞香米10  200814004   102     0   102   146   44
422  4A08  105803-10  太粮巴吞香米10  200812004     0     0     0    25   25

       库位         料品      品名         批号  可用数量  冻结数量  总数量 check  d
396  4BH0  105808-10  餐乐香米10  200814002    30     0   30    26 -4

      库位         料品       品名         批号  可用数量  冻结数量   总数量 check    d
36  3A02  105812-35  泰粮香米5*5  200812007   271     0   271   542  271
37  3A03  105812-35  泰粮香米5*5  200812007   526     0   526  1052  526
63  3A08  105812-35  泰粮香米5*5  200818010  1201     0  1201   404 -797

      库位         料品             品名         批号  可用数量  冻结数量  总数量 check  d
48  3A05  107012-35  良谷纪（稻花香2号）5*5  200811022   359     0  359   353 -6

        库位         料品           品名         批号  可用数量  冻结数量  总数量 check   d
407  糙米线库位  107090-25  香雪珍珠米（特通）25  200804019   598     0  598   585 -13
408  糙米线库位  107090-25  香雪珍珠米（特通）25  200804033    40     0   40    80  40
409  糙米线库位  107090-25  香雪珍珠米（特通）25  200806014    67     0   67    40 -27

       库位         料品           品名         批号  可用数量  冻结数量  总数量 check   d
397  4BH0  150101-15  鸣象（尊桂）油粘米15  200814001    30     0   30    60  30
398  4BH0  150101-15  鸣象（尊桂）油粘米15  200818002   200     0  200   170 -30

      库位         料品            品名         批号  可用数量  冻结数量  总数量 check    d
43  3A04  150101-35  鸣象（尊桂）油粘米5*5  200818010   648     0  648   772  124
88  3A09  150101-35  鸣象（尊桂）油粘米5*5  200811011   124     6  130     6 -124

       库位         料品          品名         批号  可用数量  冻结数量  总数量 check   d
15   3A00  150103-35  鸣象富桂银粘米5*5  200812007    44     0   44    29 -15
31   3A01  150103-35  鸣象富桂银粘米5*5  200818010   120     0  120   108 -12
127  4A00  150103-35  鸣象富桂银粘米5*5  200812007    27     0   27    54  27

      库位         料品          品名         批号  可用数量  冻结数量  总数量 check  d
68  3A08  150107-35  鸣象（丝苗）米5*5  200810014     4     0    4     8  4
89  3A09  150107-35  鸣象（丝苗）米5*5  200816001   195     0  195   191 -4

       库位         料品         品名         批号  可用数量  冻结数量  总数量 check    d
135  4A01  160101-10  帝皇鹰米满香米10  200810001   936     0  936   880  -56
191  4A07  160101-10  帝皇鹰米满香米10  200810001   153     0  153    33 -120
333  4B01  160101-10  帝皇鹰米满香米10  200802003   339     0  339   515  176

       库位         料品         品名         批号  可用数量  冻结数量  总数量 check   d
137  4A01  160102-25  帝皇鹰喜之粮米25  200715051    13     0   13     6  -7
163  4A04  160102-25  帝皇鹰喜之粮米25  200716036   553     0  553   483 -70
164  4A04  160102-25  帝皇鹰喜之粮米25  200802003    50     0   50    28 -22
335  4B01  160102-25  帝皇鹰喜之粮米25  200815019    80     0   80    78  -2
423  4A01  160102-25  帝皇鹰喜之粮米25  200716036     0     0    0    91  91

       库位         料品           品名         批号  可用数量  冻结数量  总数量 check   d
128  4A00  160204-35  喜之粮湖蟹卧田米5*5  200805013   259     0  259   184 -75
424  3A06  160204-35  喜之粮湖蟹卧田米5*5  200805013     0     0    0    66  66